/*Nav responsive dialog*/
.overlay {
    top: 0;
    left: 0;
    overflow-y: hidden;
    transition: 0.5s;
}

.overlay a {
    padding: 8px;
    text-decoration: none;
    font-size: 26px;
    color: #818181;
    display: block;
    transition: 0.3s;
}

.overlay-content {
    top: 25%;
    width: 100%;
    text-align: center;
    margin-top: 30px;
}
.overlay a:hover, .overlay a:focus {
    color: #ffffff;
}

.overlay .closebtn {
    top: 20px;
    font-size: 50px;
    cursor: pointer;
    margin-bottom: 30px;
}
