<div mat-dialog-content class="overlay">
    <div mat-dialog-actions>
        <button mat-button class="closebtn" (click)="onNoClick()">X</button>
    </div>
    <div class="overlay-content">
        <a mat-button (click)="onNoClick()" routerLink="/accueil">Accueil</a>
        <a mat-button (click)="onNoClick()" routerLink="/equipes">Equipes</a>
        <a mat-button (click)="onNoClick()" routerLink="/contact">Aide et contact</a>
        <a mat-button (click)="onNoClick()" routerLink="/equipes">Créer un compte</a>
        <a mat-button (click)="onNoClick()" routerLink="/equipes">Créer une équipe</a>
        <a mat-button (click)="onNoClick()" routerLink="/equipes">Se connecter</a>
    </div>
</div>