<div class="bg">
  <div class="title">
    {{title.title}}
  </div>
  <div class="home">
    <p>Grâce à Roller derby manager tu peux enfin gérer en tout simplicité ton équipe !</p>
    <p>Créez votre compte puis votre club ou alors rejoignez une équipe déjà existente</p>
    <div class="div_homepage">
      <button mat-raised-button class="btn_create" color="primary">CRÉER TON COMPTE</button>
    </div>
    <div class="div_homepage">
      <button mat-raised-button class="btn_create" color="primary">CRÉER TON ÉQUIPE</button>
    </div>
    <p>N'hésitez surtout pas à télécharger l'application mobile</p>
    <div class="div_homepage">
      <a [href]="" class="dl_app_google"><img [src]="googleplay"></a>
      <a [href]=""><img [src]="appstore"></a>
    </div>
  </div>
</div>


<div class="section">
  <mat-grid-list [cols]="breakpoint" rowHeight="2:1" (window:resize)="onResize($event)">
    <mat-grid-tile-header class="section_title">Comment fonctionne Roller derby manager?</mat-grid-tile-header>
    <mat-grid-tile class="my-grid-tile">
      <div class="card">
        <button mat-fab>
          <img src="../../assets/icon/settings.png" alt="create your account">
        </button>
        <h3>Configurez</h3>
        <p class="section_p">
          Créez votre compte sur Roller derby manager et renseignez les différentes informations requises avant de pouvoir débuter
          l'expérience.
        </p>
      </div>
    </mat-grid-tile>

    <mat-grid-tile class="my-grid-tile">
      <div class="card">
        <button mat-fab>
          <img src="../../assets/icon/research.png" alt="research team">
        </button>
        <h3>Rejoignez</h3>
        <p class="section_p">
          Recherchez votre équipe et faîtes la demande pour l'intégrer ou saississez le code fournit par le responsable d'équipe.
        </p>
      </div>
    </mat-grid-tile>

    <mat-grid-tile class="my-grid-tile">
      <div class="card">
        <button mat-fab>
          <img src="../../assets/icon/navigation.png" alt="navigate">
        </button>
        <h3>Naviguez</h3>
        <p class="section_p">
          Accéder aux calendriers de l'équipe, renseigner votre présence sur les différents évènements, visualiser les fichiers statistiques,
          le playbook...
        </p>
      </div>
    </mat-grid-tile>

    <mat-grid-tile class="my-grid-tile">
      <div class="card">
        <button mat-fab>
          <img src="../../assets/icon/file.png" alt="search files">
        </button>
        <h3>Fichiers</h3>
        <p class="section_p">
          Retrouvez tous les fichiers mis à disposition par votre club, fichiers statistiques, playbook...
        </p>
      </div>
    </mat-grid-tile>
  </mat-grid-list>
</div>





<div class="section">
  <mat-grid-list [cols]="breakpoint" rowHeight="2:1" (window:resize)="onResize($event)">
    <mat-grid-tile-header class="section_title">Vous souhaitez créer votre club?</mat-grid-tile-header>
    <mat-grid-tile class="my-grid-tile">
      <div class="card">
        <button mat-fab>
          <img src="../../assets/icon/settings.png" alt="create account and club">
        </button>
        <h3>Configurez</h3>
        <p class="section_p">
          Créez votre compte sur Roller derby manager et précisez être responsable du club puis saississez les informations nécessaire.
        </p>
      </div>
    </mat-grid-tile>

    <mat-grid-tile class="my-grid-tile">
      <div class="card">
        <button mat-fab>
          <img src="../../assets/icon/message.png" alt="invite your friends">
        </button>
        <h3>Invitez</h3>
        <p class="section_p">
          Ne tardez plus et envoyez le code permettant à vos joueurs de rejoindre l'équipe !
        </p>
      </div>
    </mat-grid-tile>

    <mat-grid-tile class="my-grid-tile">
      <div class="card">
        <button mat-fab>
          <img src="../../assets/icon/manage.png" alt="manage your club">
        </button>
        <h3>Gestion</h3>
        <p class="section_p">
          Dès à présent vous pouvez gérer vos effectifs, créer des événements et programmer les rappels de présence, stockez des fichiers.
        </p>
      </div>
    </mat-grid-tile>

    <mat-grid-tile class="my-grid-tile">
      <div class="card">
        <button mat-fab>
          <img src="../../assets/icon/archive.png" alt="archive files">
        </button>
        <h3>Stockez</h3>
        <p class="section_p">
          Retrouvez facilement vos fichiers ! Archivage des stats de chaque match, des guides de stratégie ou tout autres documents.
        </p>
      </div>
    </mat-grid-tile>
  </mat-grid-list>
</div>